<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <a class="card-item">
    <img class="card-item__image" src="../../../assets/images/avatar.jpg" alt="Avatar" [routerLink]="['/films']">
  </a>
  <div class="card-info">
    <h4>Nombre postre</h4>
    <h4>Nombre autor</h4>
  </div>
    <div class="card-item__description">
      <h4>DescriptionSdga sdfasWDSFASASERASD FAESRASEDFS</h4>
      <div class="media__rating card-description__rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
    </div>
  <div class="card-price">
    <p>
      €€€
    </p>
    <button (click)="addItem()" class="btn btn-secondary">Añadir</button>
  </div>
</div>

