// partials
@import '../partials/variables.scss';

/* ----------------------------------------
heading
---------------------------------------- */
.heading__h1 {
  padding-top: 80px;
  padding-bottom: 13px;
  font-size: 70px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  color: $primary-color;
}

.heading__h2 {
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $secondary-color;
}

.wrap-top {
  margin-bottom: 6rem;
  background-color: $white;
}

.heading__h2--top {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}

.search__select {
  padding: 0 auto;
}

.custom__select--home {
  margin: 30px 0 6rem;
  width: 100%;
  display: flex;
  justify-content: center;

}

.form__title {
  margin-bottom: 5px;
  display: block;
  font-size: 1.5rem;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  color: $secondary-color;

}
