// partials
@import '../partials/variables.scss';

/* ----------------------------------------
  UTILITIES
---------------------------------------- */
// main {
//   background: $white;
// }
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container--flexbox {
  display: flex;
  justify-content: space-between;
}

.container--top{
  justify-content: inherit;
}

.container-search {
  display: flex;
  padding-top: 20px;
  width: 20%;
  min-width: 200px;
}



.container--form {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

