// partials
@import '../partials/variables.scss';

/* ----------------------------------------
  UTILITIES
---------------------------------------- */
// main {
//   background: $white;
// }
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container--flexbox {
  display: flex;
  justify-content: space-between;
}

.container--top {
  justify-content: inherit;
}

.container--filter {
  height: 100%;
  margin-left: -32px;
  padding: 42px 25px;
  background-color: $pink-100;
}

.container--btn-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

// .container--search {
//   display: flex;
//   width: 20%;
//   min-width: 200px;
//   padding: 0 1rem 1rem 1rem;
//   border-radius: 0.5rem;
//   background-color: tomato;
// }



.container--form {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
