// -----------------------------------------------------------------------------
// VARIABLES
// -----------------------------------------------------------------------------

//@import 'functions';

// Brand Colours
//--------------------------
//$primary-color: #FF756D;
//$primary-color: #e34e60;
$primary-color: #FF7E75 !default;
$secondary-color: #666666 !default;

// Text Colours
//--------------------------
$black: #000000 !default;
$white: #ffffff !default;
$gray: #d9d9d9 !default;
$gray-100: #fdfdfd !default;
$gray-200: #f9f9f9 !default;
$gray-300: #898989 !default;
$gray-400: #666666 !default;
$pink-100: #f0e5e0 !default;
$blue-100: #A9D5E8 !default;
$blue-200: #82c7f0 !default;
$green-100: #00B3AE !default;

// fonts
//--------------------------
$font-opensans: 'Open Sans', sans-serif;
$font-muli: 'Muli', sans-serif;
