// -----------------------------------------------------------------------------
// VARIABLES
// -----------------------------------------------------------------------------

//@import 'functions';

// Brand Colours
//--------------------------
//$primary-color: #FF756D;
$primary-color: #e34e60;
$secondary-color: #666666;

// Text Colours
//--------------------------
$black: #000000 !default;
$white: #ffffff !default;
$gray-100: #fdfdfd !default;
$gray-200: #f9f9f9 !default;
$gray-400: #666666 !default;
$pink-100: #f0e5e0 !default;
$blue-100: #82c7f0 !default;
$green-100: #00B3AE !default;

// fonts
//--------------------------
$font-opensans: 'Open Sans', sans-serif;
