// -----------------------------------------------------------------------------
// VARIABLES
// -----------------------------------------------------------------------------

//@import 'functions';

// Brand Colours
//--------------------------
$primary-color: #FF756D;
$secondary-color: #333333;

// Text Colours
//--------------------------
$black: #000000 !default;
$white: #ffffff !default;
$gray-100: #fdfdfd !default;


// fonts
//--------------------------
$font-opensans: 'Open Sans', sans-serif;
