<div class="cart container container--flexbox">
  <div class="open productlist open">
    <div class="cart__title">
      <p class="cart__title">Postres seleccionados: {{getTotal(shoppingCartItems)}}</p>
    </div>
    <form class="form-cart">
      <ul class = "form__list">
        <li *ngFor="let product of shoppingCartItems; let i = index">
          <div class="card">
            <img class="card__image" [src]="product.img" [alt]="product.name">
            <div class="card__product">
              <div class="product">
                <p class="product__name">{{product.name}}</p>
                <p class="product__price">{{product.price}} €</p>
              </div>
              <div class="container--btn-cart">
                <div>
                  <button type="button" class="btn btn--cart" (click)="restProduct(product)">-</button>
                </div>
                <span class="product__units" for="units">Uds: {{product.quantity}}</span>
                <!-- <input type="number" id="units" name="unids" min="1" max="10"> -->
                <div>
                  <button type="button" class="btn btn--cart" (click)="sumProduct(product)">+</button>
                </div>
              </div>
              <button type="button" class="delete-btn btn btn--remove" (click)="deleteItemCart(product)">Eliminar</button>
            </div>
          </div>
        </li>
      </ul>
    </form>
    <div class="summary-cart">
      <div class="summary ">
        <p class="summary__number">Total {{getTotalPrice(shoppingCartItems)}} €</p>
      </div>

        <button class=" btn  btn--cart btn--pay" (click)="pay(getTotalPrice(shoppingCartItems))">Finalizar compra </button>

    </div>


  <!-- </div>
  <div class="summary-cart">
    <div class="summary ">
      <p class="number">Total {{getTotalPrice(shoppingCartItems)}} €</p>
    </div>

      <button class="primary-btn btn btn-primary btn-block btn--remove" (click)="pay()">Finalizar compra </button>

  </div>
</div> -->

