<div class="cart" >
  <div class="open productlist sc-fYxtnH eGTzqC open">
    <div class="cart__title">
      <p>Postres: {{cartList.length}}</p>
    </div>
    <ul>
      <li *ngFor="let product of productList; let i = index">
        <div class="card">
          <img class="card__image" [src]="product.img" [alt]="product.name">
          <div class="card__product">
            <div class="product">
              <p class="product__name">{{product.name}}</p>
              <p class="product__price">{{product.price}} €</p>
            </div>

            <div class="container--btn-cart">
              <div>
                <button class="btn btn--cart">Quitar</button>
              </div>
              <div class="number--product">1</div>
              <div>
                <button class="btn btn--cart" (click)="addProduct(i)">Añadir</button>
              </div>
            </div>
            <button class="delete-btn btn btn--remove" (click)="removeProduct(i)">Eliminar</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="summary-cart">
    <div class="summary ">
      <p class="number">Total €</p>
    </div><a class="start-checkout" href="/checkout"><button class="primary-btn" disabled="">Finalizar
        compra</button></a>
  </div>
</div>
