<div class="cart-content">
  <div class="title-cart flex">
    <h1>Tu carrito&nbsp;<span>(2)</span></h1><span class="close">Cerrar</span>
  </div>
  <div class="open productlist sc-fYxtnH eGTzqC open">
    <div class="pointer see-product flex">
      <p>Platos</p><span>(2 platos)</span>
    </div>
    <ul>
      <li style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
        <div class="sc-htpNat boBzQr">
          <div class="img-product"><img src="/images/products/262/catalog/curry-panang-de-ternera_A.jpg"
              alt="Curry panang de ternera"></div>
          <div class="content-product">
            <p class="title-product">Curry panang de ternera</p>
            <p class="price-product">6,45€</p>
            <div class="split product-add flex sc-bwzfXH eOkIfK"><button class="less icon-less"></button>
              <div class="number-product">1</div><button class="more icon-more"></button>
            </div><button class="delete-btn">eliminar</button>
          </div>
        </div>
      </li>
      <li style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
        <div class="sc-htpNat boBzQr">
          <div class="img-product"><img
              src="/images/products/534/catalog/pechuga-de-pollo-a-la-brasa-con-piquillos-asados_A.jpg"
              alt="Pechuga de pollo a la brasa con piquillos asados"></div>
          <div class="content-product">
            <p class="title-product">Pechuga de pollo a la brasa con piquillos asados</p>
            <p class="price-product">6,45€</p>
            <div class="split product-add flex sc-bwzfXH eOkIfK"><button class="less icon-less"></button>
              <div class="number-product">1</div><button class="more icon-more"></button>
            </div><button class="delete-btn">eliminar</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="summary-cart summary-cart-lowqty">
    <div class="sc-ktHwxA bHMweC">
      <p class="warn">¡Te faltan&nbsp;<strong>9,10€</strong>&nbsp; para llegar al&nbsp;<strong>pedido mínimo</strong>!
      </p>
    </div>
    <div class="summary ">
      <table>
        <tbody>
          <tr class="shipping-cart">
            <td>Envío</td>
            <td class="number">-- €</td>
          </tr>
          <tr class="subtotal">
            <td>Subtotal</td>
            <td class="number">12,90 €</td>
          </tr>
        </tbody>
      </table>
    </div><a class="start-checkout" href="/checkout"><button class="primary-btn" disabled="">Finalizar
        compra</button></a>
  </div>
</div>
