<body>
  <main>

    <!-- <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Productos</li>
      </ul> -->

    <div class="container container--flexbox container--result">

      <div class="container-search">
        <nav class="filter">

          <form for="demo" class="custom__select custom__select--result">
            <h2 class="filter__title">Tipo de dulce</h2>
            <ul class="dropdown__list">
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="cake">Tarta</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox2" value="dessert">Postre</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="iceCream">Helado</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="teaBiscuit">Pastas</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="chocolate">Chocolate</label>
              </li>
            </ul>
            <h2 class="filter__title">¿Alergías y/o intolerancias?</h2>
            <ul class="dropdown__list">
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="gluten">Gluten</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox2" value="egg">Huevo</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="nuts">Frutos
                  Secos</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="peanut">Cacahuete</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="soja">Soja</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="checkbox" id="cbox1" value="milk">Leche</label>
              </li>
            </ul>
            <h2 class="filter__title">Ocasión</h2>
            <ul class="dropdown__list">
              <li>
                <label><input class="dropdown__item" type="radio" id="cbox1" value="birthday"
                    name="ocasion">Cumpleaños</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="radio" id="cbox1" value="wedding" name="ocasion">Boda</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="radio" id="cbox1" value="babyShower" name="ocasion">Baby
                  Shower</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="radio" id="cbox1" value="firstCommunion"
                    name="ocasion">Comunión</label>
              </li>
              <li>
                <label><input class="dropdown__item" type="radio" id="cbox1" value="friends" name="ocasion">Con
                  Amigos</label>
              </li>
            </ul>
          </form>
        </nav>

      </div>

      <div class="container-card">
        

          <div class="container-card container-card--main">

            <div class="card card--picture">
              <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
              <div class="card__data">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
              </div>
            </div>
            <div class=" card--description">
              asdfasdasdfasdfsdfsdf
            </div>

          </div>
          <!-- <div class=" container-card-result">
  
          </div> -->
       

        <!-- <div class="container-card container-card--mini"> -->
        <div class="container-card-result container-card-result--mini">
          <div class="card--mini">
            <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
            <div class="card__data">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>

          <div class="card--mini">
            <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
            <div class="card__data">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>

          <div class="card--mini">
            <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
            <div class="card__data">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>

          <div class="card--mini">
            <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
            <div class="card__data">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>

          <div class="card--mini">
            <img class="card__image" src="../../assets/img/avatar.jpg" alt="Avatar">
            <div class="card__data">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>
        <!-- </div> -->
      
    </div>
    </div>

  </main>
  <footer>
    <div class="footer__info">
    </div>
    <div class="footer_copyright"></div>

  </footer>


</body>
