<div>
  <a class="card-link"[routerLink]="['/product', pastry.id]">
    <div class="card">
      <img class="card__image" src="{{pastry.img}}" alt="Avatar">
      <div class="card__info">
        <h4 class="card__info-pastry">{{pastry.name}}</h4>
        <div class="card__info-baker">
          <h5 class="baker__name">{{pastry.author.name}}</h5>
          <div class="media__rating card__info-rating baker__rating">

            <p class="card__price">
             {{pastry.price}}  {{getCurrency()}}
            </p><!-- <star-rating
            [starType]="'svg'"
            [rating]="pastry.rating"
            [labelPosition]="'left'"
            [staticColor]="'ok'"
            [size]="'medium'"
            [readOnly]="'true'"
            >
          </star-rating> -->
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
