<div class="container container--form">

  <form for="demo" class="custom__select custom__select--home">
    <div class="dropdown dropdown--link navbar__item">
      <button type="button" class="dropdown__btn01 " aria-expanded="false" (click)="openDropdownSearch()">Tipo de dulce</button>
      <div class="dropdown__menu" >
        <ul class="dropdown__list" *ngIf="dropdown__btn01">
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox1" value="cake">Tarta</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox2" value="dessert">Postre</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox3" value="iceCream">Helado</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox4" value="teaBiscuit">Pastas</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox5" value="chocolate">Chocolate</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown dropdown--link navbar__item">
      <button type="button" class="dropdown__btn02" aria-expanded="false">¿Alergías y/o intolerancias?</button>
      <div class="dropdown__menu">
        <ul class="dropdown__list">
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox6" value="gluten">Gluten</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox7" value="egg">Huevo</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox8" value="nuts">Frutos Secos</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox9" value="peanut">Cacahuete</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox10" value="soja">Soja</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="checkbox" id="cbox11" value="milk">Leche</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown dropdown--link navbar__item">
      <button type="button" class="dropdown__btn03" aria-expanded="false">Ocasión</button>
      <div class="dropdown__menu">
        <ul class="dropdown__list">
          <li>
            <label><input class="dropdown__item" type="radio" value="birthday">Cumpleaños</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="radio" value="wedding">Boda</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="radio" value="babyShower">Baby Shower</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="radio" value="firstCommunion">Comunión</label>
          </li>
          <li>
            <label><input class="dropdown__item" type="radio" value="friends">Con Amigos</label>
          </li>
        </ul>
      </div>
    </div>
    <button [routerLink]="['/product/result']" type="submit" class="btn btn--form">Buscar</button>
  </form>
</div>
