// partials
@import '../../../styles/partials/variables.scss';

/* ----------------------------------------
  WEB-HEADER
---------------------------------------- */

.web-header {
  margin: 0 auto;
  background-color: transparent;
  padding: rem(0 35px 0 15px);
  //background-color: rgba(255, 161, 144, 1);
  background-color: $white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;

}

.navbar__heading {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  color: $primary-color;
  background-color: transparent;
  font-size: rem(36px);
  line-height: 1.6;
  text-decoration: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.navbar__user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__user-profile {
  text-decoration: none;
  margin-right: rem(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(5rem)
}

.navbar__user-avatar {
  border-radius: $br8;
  width: rem(40px);
  height: rem(40px);

}

.navbar__user-name {
  text-decoration: none;
  padding: rem(20px 10px);
  font-family: $font-opensans;
  font-weight: 400;
  color: #ff7e75;
}

.form-group--btn {
  padding-top: rem(10px);
  display: flex;
  justify-content: center;
}

.btn--form {
  text-align: center;
  font-size: 1.15rem;
  font-family: 'Average', serif;
  font-weight: 400;
  color: #fff;
  background-color: #4a4a4a;
  border-radius: 0;
}

.cart {
  display: flex;
  &__number {
    font-size: 1.2rem;
  }
}
