<div id="signin" class="container">
  <div class="signin-popup">
    <form class="form"  #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)" >
      <fieldset class="form-fieldset form-fieldset--personaldata">
        <legend class="form-legend">Crear cuenta</legend>
        <div class="form-register">
          <div class="form-group">
            <label class="form-group__label" for="name">Nombre</label>
            <input
            class="form-group__control"
            type="text"
            required
            id="name"
            name="name"
            [(ngModel)]="user.name"
            #name=ngModel
            [ngClass]="{isInvalid: name?.touched && !name.valid}">
          </div>
          <div class="form-group">
            <label class="form-group__label" for="lastname">Apellidos</label>
            <input
            class="form-group__control"
            type="text"
            required
            id="lastname"
            name="apellidos"
            [(ngModel)]="user.lastname"
            #lastname="ngModel"
            [ngClass]="{isInvalid: lastname?.touched && !lastname?.valid}">
          </div>
          <div class="form-group">
            <label class="form-group__label" for="email">Correo electrónico</label>
            <input
            class="form-group__control"
            type="email"
            required
            id="email"
            name="email"
            [(ngModel)]="user.email"
            #email="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            [ngClass]="{isInvalid: email?.touched && !email?.valid}" >
                     </div>
          <div class="form-group">
            <label class="form-group__label" for="password">Contraseña</label>
            <input
            class="form-group__control"
            [type]="passwordType"
            required
            minlength="4"
            id="password"
            name="password"
            [(ngModel)]="user.password"
            #password="ngModel"
            [ngClass]="{isInvalid: password?.touched && !password?.valid}" >
            <svg class="eye" alt="Show passwords" (click)="showPassword()" >
              <use [attr.xlink:href]="showPasswordSvg"></use>
            </svg>
          </div>
          <div class="form-group">
            <label class="form-group__label" for="repeatPassword">Repita contraseña</label>
            <input
            class="form-group__control"
            [type]="passwordType"
            required
            id="repeatPassword"
            name="repeatPassword"
            [(ngModel)]="user.repeatPassword"
            #repeatPassword="ngModel"
            [ngClass]="{isInvalid: repeatPassword?.touched && !repeatPassword?.valid}" >
           <!-- <div *ngIf="!passwordEqual()" [ngClass]="{warning: repeatPassword?.touched && !repeatPassword?.valid}">
              * Las contraseñas no coinciden
            </div> -->
          </div>
          <div class="form-group">
            <label class="form-group__label" for="city">Ciudad</label>
            <input
            class="form-group__control"
            type="text"
            required
            id="city"
            name="ciudad"
            [(ngModel)]="user.city"
            #city="ngModel"
            [ngClass]="{isInvalid: city?.touched && !city?.valid}">
          </div>
        </div>
      </fieldset>
      <div class="form-group form-group--btn">
        <!-- <button type="submit" class="btn btn--form" [disabled]="!signupForm.valid" data-target="#exampleModal">Crea tu cuenta</button> -->
        <button type="button" class="btn btn--form" [disabled]="!signupForm.valid" data-toggle="modal" data-target="#Modal">Crea tu cuenta</button>
      </div>


<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Gracias por registrarte!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]="['']">Ir a PastryHome</button>
      </div>
    </div>
  </div>
</div>
    </form>

  </div>
</div>
