.card__image {
  height: 150px;
  width: 242px;
  max-width: 100%;
  vertical-align: middle;
  background-image: url('../src/assets/images/avatar.jpg');
}

.card__info {
  padding: 10px;
}
.card-link{
  text-decoration: none;
}
.card__info-pastry {
  margin-bottom: 1.2rem;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;

}

.card__info-baker {
  display: flex;
  align-items: center;

}

.baker__name {
  margin-right: 1.5rem;
  color: rgba(0, 0, 0, 0.6)
}

.baker__rating {
  font-size: 0.7rem;
}

.btn--block {
  display: block;
  width: 100%;
}

/* .cards {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
} */

.card {
  transition: 0.3s;
  height: auto;
  width: 242px;
  //  height: 10%;
  margin-right: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  /* width: 20%; */
  /* margin-left: 40px;
	margin-bottom: 20px; */
}

.cards__item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

/* .card {
   background-color: white;
   border-radius: 0.25rem;
   box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
   display: flex;
   flex-direction: column;
   overflow: hidden;
}*/

.card__content {
  display: flex;
  /* flex: 1 1 auto; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }

  .card__title {
    margin-bottom: 1.25rem;
    color: #696969;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .card__author {
    flex: 1 1 auto;
    font-family: 'Average', serif;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }

  //  .media__rating {
  //     font-size: 10px;
  //     padding: 30px 5px;
  //     display: flex;
  //     justify-content: center;
  //     align-items: flex-end;
  //  }

  .checked {
    color: orange;
  }

  /* ----------------------------------------
 Star-rating
---------------------------------------- */
  /* .star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
} */


  /* ----------------------------------------
 Dropdown
---------------------------------------- */
  [aria-expanded="false"]+.dropdown__menu {
    display: none;
  }

  .dropdown {
    position: relative;
  }

  .dropdown__menu {
    position: absolute;
    margin-top: 1rem;
    left: 0;
    right: 0;
    z-index: 20;
    min-width: 10rem;
    border: 1px solid #ddd;
    padding-left: 5px;
    font-family: 'Average', serif;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
    border-radius: 4px;
  }

  .dropdown--link {
    border: 2px solid #4a4a4a;

  }

  .dropdown--link .dropdown__menu {
    top: calc(100% - 12px);
  }

  /* .dropdown__menu .dropdown__item {
   display: block;
   padding: .3rem .8rem;
   color: blue;
   text-decoration: none;
} */

  .dropdown__btn01,
  .dropdown__btn02,
  .dropdown__btn03,
  .filter__title {
    position: relative;
    background: transparent;
    border: none;
    text-decoration: none;
    padding: 10px 120px 10px 10px;
    font-family: 'Average', serif;
    font-weight: 400;
    font-size: 1.15rem;
    color: #4a4a4a;
    cursor: pointer;
  }

  .dropdown__btn01::after,
  .dropdown__btn02::after,
  .dropdown__btn03::after {
    content: "▼";
    position: absolute;
    width: 10px;
    height: 10px;
    color: #3c4245;
    right: 10px;
  }


  .dropdown__btn01:focus,
  .dropdown__btn02:focus,
  .dropdown__btn03:focus {
    outline: 0;
  }

  .dropdown__list>li {
    margin-bottom: 6px;
  }


  /* ----------------------------------------
 RESULTS
---------------------------------------- */

// .modal-open {
//   overflow: hidden;
// }



}
