// @import './scss/styles';


/* You can add global styles to this file, and also import other style files */
@import 'app/styles/globals/reset.scss';
@import 'app/styles/globals/utilities.scss';
@import 'app/styles/globals/text.scss';

// fonts
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Average&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap');
@import '~css-star-rating/scss/star-rating';

// partials
@import 'app/styles/partials/variables.scss';

// atoms
@import 'app/styles/atoms/buttons.scss';
@import 'app/styles/atoms/form-control-checkbox';
@import 'app/styles/atoms/form-control-radio';
@import 'app/styles/atoms/form-group-control';

// molecules
@import 'app/styles/molecules/rating.scss';
@import 'app/styles/molecules/breadcrumb.scss';

// organisms
@import 'app/styles/organisms/search-form.scss';
@import 'app/styles/organisms/card.scss';
@import 'app/styles/organisms/navbar.scss';
@import 'app/styles/organisms/category.scss';

//bootstrap
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/transitions';
@import 'node_modules/bootstrap/scss/modal';



/* ----------------------------------------
  GLOBAL
---------------------------------------- */

/* Translate LOGIN



/*.user__menu{
/*   position:relative;
/*  display: none;
/*}
/*
/*.user__after::before{
/*   content:"";
/*   position: absolute;
/*   left:0;
/*   display: inline-block;
/*   width: 28px;
/*   height: 3px;
/*   background-color: #cdecff;
/*}*/

/* ----------------------------------------
 MODAL
---------------------------------------- */

/* [role="button"] {
   display: inline-block;
    border-radius: 4px;
   padding: 20px 10px;
   font-family: 'Fjalla', cursive;
   color: #4a4a4a;
   font-weight: 400;
   text-decoration: none;
}

[role="button"]:hover {
   color: rgba(197, 130, 130, 0.8);
} */

// .overlay {
//    position: fixed;
//    top: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;
//    z-index: 10;
//    background: rgba(0, 0, 0, 0.6);
//    transition: opacity 200ms;
//    visibility: hidden;
//    opacity: 0;
// }

// .overlay:target {
//    visibility: visible;
//    opacity: 1;
// }

// .close {
//    position: absolute;
//    text-decoration: none;
//    top: 20px;
//    right: 20px;
// }

// .form-legend {
//    padding: 20px;
//    text-align: center;
//    font-family: 'Fjalla One', sans-serif;
//    color: #4a4a4a;
//    font-weight: 400;
//    font-size: 1.5rem;
// }

// .form-fieldset {
//    border: none;
// }

// .signin-popup {
//    position: relative;
//    z-index: 20;
//    margin: 100px auto;
//    padding: 20px;
//    background: #fff;
//    border: 1px solid #3c4245;
//    max-width: 500px;
//    height: auto;
//    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
//    border-radius: 10px;
// }

// .form-register {
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: space-between;

// }

// .form-group {
//    margin: 10px;
// }

// .form-group--typeclient {
//    display: flex;
// }

// .form-group__label {
//    display: block;
//    margin-bottom: 10px;
//    font-family: 'Fjalla One', sans-serif;
//    color: #4a4a4a;
//    font-weight: 400;
//    font-size: 1.15rem;
// }


// .form-group__control {
//    font-size: 1rem;
//    padding-left: 5px;
//    display: block;
//    width: 200px;
//    border: none;
//    border-bottom: 1px solid #757575;
// }


// .form-fieldset--typecustomer {
//    padding: 5px;
//    text-align: center;
// }


// .form__submit {}

/****************************************
*****************Breadcrumb*************/

/* Style the list */



/* ----------------------------------------
 MEDIA
---------------------------------------- */
