<div *ngIf="pastry">
  <div class="wrap">
    <div class="container container--flexbox">
      <img class="img--product" [src]="pastry.img" alt="Avatar">
      <div class="product">
        <section class="product__title">
          <h1 class="product__title-header">{{pastry.name}} {{pastry.price}}€</h1>
          <div class="product__title-chips">
            <a *ngFor="let category of pastry.categories" [routerLink]="['/category', category.toLowerCase()]"
              class="chip__name">{{category}}</a>
          </div>
        </section>

        <section class="product__description">
          <p class="product__description-tag">{{pastry.description}}</p>
          <p class="product__description-tag">{{pastry.description2}}</p>
        </section>

        <div class="product__description-tag" *ngIf="pastry.ingredients">
          <div class="container container--ingredients">
            <p>INGREDIENTES</p>
            <span *ngFor="let ingredient of pastry.ingredients">{{ingredient}}</span>
          </div>
        </div>
        <section class="addCart">
          <!-- <span class="btn price">{{pastry.price}}€</span> -->
         <button class="btn btn--add" (click)="addToCart2(pastry)">Añadir al carro</button>
       </section>
      </div>

      </div>
      <div class="product__price">

      </div>
    </div>
  </div>

  <!-- <div class="container" *ngIf="pastry.ingredients">
    <div class="container container--ingredients">
      <p>INGREDIENTES</p>
      <span *ngFor="let ingredient of pastry.ingredients">{{ingredient}}</span>
    </div>
  </div>
</div> -->
